@keyframes grad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingContainer {
  display: flex;
  flex-direction: column;

  width: fit-content;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--background-color3);
  color: var(--text-color1);
  text-align: center;
}

.loadingContainer p {
  width: fit-content;
  align-self: center;
  padding-top: 25px;
  margin: 0px;
}

.loading {
  width: 150px;
  height: 150px;

  align-self: center;

  animation: spin 1s linear infinite;
  border-radius: 50%;
}

.loading > :nth-child(1) {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;

  width: 100%;
  height: 50%;

  background-color: var(--background-color3);
}
.loading > :nth-child(2) {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;

  width: 100%;
  height: 100%;

  /* background: radial-gradient(#e66465, #9198e5); */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: grad 2s linear infinite;
  border-radius: 50%;
}
.loading > :nth-child(3) {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 3;

  width: 90%;
  height: 90%;

  background-color: var(--background-color3);
  border-radius: 50%;
}
