@keyframes grad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#searchResultContainer {
  margin-top: 30px;
  padding: 2px;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: grad 10s linear infinite;

  border-radius: 30px;
}

#searchResult {
  padding: 30px;

  background-color: var(--background-color3);
  border-radius: 30px;
}

.playerBanner {
  display: flex;
  flex-direction: row;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.player > img {
  border-radius: 50%;
}
.player > h2 {
  color: var(--text-color1);
  margin-bottom: 0px;
}

.player > p {
  margin-top: 0px;
  color: var(--text-color3);
}

.ranks {
  display: grid;
  grid-template-rows: [first] 10% [row2] 35% [row3] 35% [row4] 20% [end];
  grid-template-columns: [first] 20% [col2] 40% [col3] 40% [end];

  text-align: center;
}

.ranks > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ranks h3 {
  margin: 0px;
  color: var(--text-color1);
}

.ranks img {
  width: 100%;
}

.ranks p {
  color: var(--text-color2);
  width: 80%;
}

.cs2Rank {
  margin: 0px;
  font-size: x-large;
}

.gameSelector {
  display: grid;
  grid-template-columns: [first] 50% [col2] 50% [end];
}

.gameSelector > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gameSelector > div > button {
  width: 60%;
  margin-bottom: 10px;
  background-color: var(--background-color2);
  border: none;
  border-radius: 25px;
  color: var(--text-color1);
  font-size: x-large;
  font-weight: bolder;
  transition: 100ms;
}

.gameSelector > div > button:hover {
  box-shadow: white 0px 0px 5px;
}

.gameHeader {
  text-align: center;
  margin: 0px;
  color: white;
  font-size: xx-large;
}

.mainStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mainStats > div {
  text-align: center;
}

.mainStats > div > h3 {
  color: var(--text-color1);
  margin: 0px;
}

.mainStats > div > p {
  color: var(--text-color2);
  margin: 0px;
  font-size: x-large;
}

.boxedStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.statsBox {
  width: fit-content;
  margin: 10px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 25px;
}

.statsBox > h3 {
  color: var(--text-color1);
}

.statsBox > p {
  color: var(--text-color2);
}

.clutch > h2 {
  color: var(--text-color1);
  margin-bottom: 0px;
}

.clutch > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 20px;
  border-radius: 25px;

  background-color: var(--background-color);
}

.clutch > div > div {
  text-align: center;
  margin: 10px;
}

.clutch > div > div > h4 {
  margin: 0px;
  color: var(--text-color1);
}

.clutch > div > div > p {
  margin: 0px;
  color: var(--text-color2);
}

.entry > h2 {
  color: var(--text-color1);
  margin-bottom: 0px;
}

.entry > div {
  display: grid;
  grid-template-rows: [first] auto [row2] auto [row3] auto [end];
  grid-template-columns: [first] 25% [col2] 25% [col3] 25% [col3] 25% [end];

  padding: 20px;
  border-radius: 25px;

  background-color: var(--background-color);
  color: var(--text-color1);
}

.entry > div > div {
  text-align: center;
}

.searchFailure {
  text-align: center;
}

.searchFailure > h3 {
  color: var(--text-color1);
}

.searchFailure > p {
  color: var(--text-color2);
}

.searchFailure > p > a {
  color: var(--text-color2);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .playerBanner {
    flex-direction: column;
  }
}
